#register {
    padding: 0 30rpx;

    .title {
        margin: 96rpx 0 139rpx;
        font-family: "PingFangSC-Medium";
        font-size: 48rpx;
        color: #171A25;
    }

    .inputsyt {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 16rpx;

        image {
            width: 24rpx;
            height: 38rpx;
            display: inline-block;
            margin-right: 18rpx;
            align-self: center;
        }

        input {
            flex: 1;
            font-family: DINAlternate-Bold;
            font-size: 34rpx;
            color: #000000;
        }
    }


    .next {
        font-family: PingFangSC-Regular;
        margin-top: 103rpx;
        background: #F7F7F7;
        border-radius: 48rpx;
        font-size: 32rpx;
        color: #C9CDD7;
        line-height: 96rpx;
        height: 96rpx;
    }

    .nextactive {
        margin-top: 103rpx;
        background-image: linear-gradient(#298CFC, #2160F4);
        border-radius: 48rpx;
        font-size: 32rpx;
        color: #DEE6F3;
        line-height: 96rpx;
    }
}