page {
    background: #fff;
}

#realname {
    .realnameBox {
        margin-top: 53rpx;
        padding: 0 30rpx;

        text {
            font-family: PingFangSC-Regular;
            font-size: 32rpx;
            color: #171A25;
        }

        .loginTel {
            line-height: 105rpx;
            border-bottom: 2rpx solid #E3E4EA;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .realnamebutton,
        .realnameId {
            border-bottom: 2rpx solid #E3E4EA;
            line-height: 105rpx;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .realnameId {
            border-bottom: none;
        }
    }
}