var numberUtil = {
    Format: function (value) {
        if (typeof value == 'string') {
            var v = parseFloat(value)
        } else {
            var v = value
        }
        //强转Int，毕竟有可能返回是String类型的数字
        return v.toFixed(2)
    }
}

module.exports = {
    Format: numberUtil.Format //暴露接口调用
}