page {
    background: #fafafa;
}

#pool-summary {
    .serach {
        background: #fff;
        padding-bottom: 30rpx;

        input {
            font-family: PingFangSC-Regular;
            font-size: 30rpx;
            color: #858EA0;
            padding-left: 24rpx;
            line-height: 60rpx;
            height: 60rpx;
            background: #F2F0F0;
            width: 647rpx;
            border-radius: 41rpx;
            margin: 0 auto;
        }
    }

    .serach_list {
        margin-top: 30rpx;
        background: #fff;

        .list_detail {
            padding: 32rpx 0 28rpx;
            border-bottom: 1px solid #E3E4EA;
            margin: 0 30rpx;

            .detail_title,
            .detail_time {
                display: flex;
                justify-content: space-between;
                align-items: center;


                .info {
                    .phone {
                        font-family: PingFangSC-Medium;
                        font-size: 32rpx;
                        color: #171A25;
                    }

                    .name {
                        font-family: PingFangSC-Regular;
                        font-size: 28rpx;
                        color: #171A25;
                        margin-left: 20rpx;
                    }
                }

                .money {
                    display: flex;

                    .text {
                        font-family: PingFangSC-Medium;
                        font-size: 26rpx;
                        color: #2576F8;
                    }

                    .money_num {
                        font-family: DINAlternate-Bold;
                        font-size: 32rpx;
                        color: #2576F8;
                        margin-left: 5rpx;
                    }
                }

                .times {
                    font-family: PingFangSC-Regular;
                    font-size: 26rpx;
                    color: #858EA0;
                    line-height: 26rpx;
                }

                image {
                    width: 12rpx;
                    height: 22rpx;
                    vertical-align: middle;
                }
            }
        }


    }

    .no_data {
        font-size: 28rpx;
        text-align: center;
        padding: 20rpx 0;
    }

    .bitter_end {
        font-family: PingFangSC-Regular;
        font-size: 26rpx;
        color: #858EA0;
        text-align: center;
        margin-top: 30rpx;
    }
}